/*************************/
/****** Estilos generales ********/
/*************************/
* {
  font-family: 'Encode Sans', sans-serif;
}
/*************************/
/****** Variables ********/
/*************************/

:root {
  /* Paleta de Colores */
  --blue:#213E7B;
  --gray-dark: #a6a7a9;
  --gray: #bdbdbd;
  --gray-light: #ebebeb;
  --gray-lighter: #f2f2f2;
  --white: #ffffff;
  --black: #414d3c;
  --green:#09ab93;
}
