/*************************/
/****** Header ***********/
/*************************/

/* Navbar */
.navbar {
  background-color: var(--blue);
  transition: background-color 0.3s ease-in-out;
}

/*************************/
/****** Main ***********/
/*************************/

/* Main */
main {
  margin: 0 auto;
  margin-top: 60px;
  padding: 2rem;
  max-width: 1300px;
}
